
label.total_volunteers_label{

  background-color: darkblue;
  color: white;
  border-radius: 5px ;
  padding: 4px;

}

.button-grp-margin {
  margin: 10px;
}

/* 992px expand:lg */
@media screen and (max-width: 992px) {
  
  .header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}
