
label.total_volunteers_label{

  background-color: darkblue;
  color: white;
  border-radius: 5px ;
  padding: 4px;

}

.button-grp-margin {
  margin: 10px;
}

body.public_layout {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main.public_layout {
  flex-grow: 1;
}

/* 992px expand:lg */
@media screen and (max-width: 992px) {
  
  .header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}
